<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AdonisJS - A fully featured web framework for Node.js</title>
	@routes

	@entryPointStyles('app')
	@entryPointScripts('app')
</head>

<body>
	<div class="container mx-auto px-4">
		<main>
			@!section('body')
		</main>
	</div>
</body>

</html>
